<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Task</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Square+Peg&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-end align-items-center col-12 p-3">
        <div class="d-flex col-4 justify-content-evenly">
            <a href="/dashboard" class="btn btn-secondary btn-sm">Back</a>
        </div>
    </nav>
    <form action="/addnewtask" method="POST" class="container p-4 my-4 bg-light text-dark rounded mx-auto">
        <h2 class="text-primary">Create a New Task</h2>
        <div class="d-flex justify-content-between">
            <div class="col-12">
                <div class="form-group">
                    <label for="task_name">Task Name:</label>
                    <input type="text" name="task_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <input type="text" name="notes" class="form-control">
                </div>
                <div class="form-group">
                    <label for="due_date">Due Date:</label>
                    <input type="date" name="due_date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="priority_level">Priority Level:</label>
                    <input  type="number" min=0 max=3 name="priority_level" class="form-control"></input>
                </div>
                <br>
                <input type="submit" value="Save" class="btn btn-primary" style="height: 40px;">
                </div>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>