* {
    margin: 0;
    padding: 0;
    font-family: 'Square Peg';
}
body {
    background-image: url("/static/img/fl4.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#home {
    padding: 20%;
}

#dashboard {
    margin-top:10%;
}

.btn {
    width: 10%;
}

.taskrow {
    background-color: rgb(220,220,220);
    opacity: 70%;
    margin: 20px;
    border-radius: 10px;
    color: black;
}

p {
    font-size: 20px;
}

.update {
    width: 130px;
    height: 35px;
}

i {
    color: black;
    font-size: 1rem
}


@media only screen and (max-width: 600px) {
    body {
        background-image: url("/static/img/w2.jpg");
    }

    h1, p{
        font-size: 22px;
    }

    .homefont {
        font-size: 90px;
        color: black;
        text-decoration: none;
    }

    .btn{
        height: 100%;
        width: 25%;
    }

    #homeImage {
        background-image: url("/static/img/wp.jpeg");
    }

    .update {
        width: 110px;
        height: 35px;
    }

    .save {
        height: 20px;
        width: 25%;
    }
}